# ===== OS-specific =====
.DS_Store

# ===== IDE/project config =====
.idea

# ===== Logs and temp =====
*.log
tmp/

# ===== Python cache and build artefacts =====
*.py[cod]
*.egg
**/*.egg-info
build
htmlcov

# ===== Virtual environment =====
venv/

# ===== Model File(s) =====
*.pt
*.pth

# TEMP
*dataset
*testing
examples/perspective_corrections
examples/original_images